{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Meus Projetos</title>
  <link rel="stylesheet" href="../static/meus_projetos.css">
</head>
<body>
  <div class="container">
    
    <!-- Sidebar -->
    <aside class="sidebar">
      <h2 class="logo"><a href="{% url 'dashboard' %}">DevLopes</a></h2>
      <ul>
        <li><a href="#">Perfil</a></li>
        <li><a href="#">Reuniões</a></li>
        <li><a href="{% url 'chat' %}">Mensagens</a></li>
        <li><a href="{% url 'feedbacks' %}">Feedbacks</a></li>
        <li><a href="{% url 'meus_projetos' %}">Meus projetos</a></li>
        <li><a href="#">Ajuda</a></li>
      </ul>
    </aside>

    <!-- Conteúdo -->
    <main class="content">
        <section>
            <h1>Meus Projetos</h1>
    
            {% if projetos %}
                <ul class="projetos-lista">
                    {% for projeto in projetos %}
                    <li class="projeto-item">
                        <h2>{{ projeto.titulo }}</h2>
                        <p>{{ projeto.descricao }}</p>
                        <p><strong>Status:</strong> {{ projeto.get_status_display }}</p>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Você ainda não cadastrou nenhum projeto.</p>
            {% endif %}
        </section>
        
    </main>
  </div>
</body>

</script>
</html>
